body {
    height: 100%;
    font-family: "Poppins", "Helvetica Neue", Helvetica, sans-serif;
    background-color: #2d3453;
    color: rgba(238, 238, 238, 0.75);
    font-size: 18px;
}
.wrapper {
    min-height: 100%;
    /* overflow: clip; */

    display: flex;
    flex-direction: column;
}
/* page */
.page {
    padding-top: 85px;
    flex: 1 1 auto;
}

.page__main {}

.page__about {}
@media (max-width: 500px){
    .page {
        padding-top: 73px;}
}
.page__works {}

.page__contacts {}

[class*="__container"] {
    max-width: 1280px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header style */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    background-color: rgba(103, 147, 153, 0.8);
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__logo {
}
.header__menu {
}
.menu {
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 3px;
    align-items: center;
}
.menu__item {
}
.menu_link {
    color: #eeeeee;
    transition: color 0.3s ease 0s;
}
.menu_link:hover {
    color:aqua;
}
@media (max-width: 500px;) {
    .header__container {
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
        gap: 10px;
    }
    .menu__list {
        column-gap: 20px;
    }
}

/* footer */

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(238, 238, 238, 0.1);

}
.footer__container {
}
.footer__menu {
}

.footer__menu:not(:last-child) {
    margin-bottom: 28px;
}
.menu-footer {
}
.menu-footer__list {
    display: flex;
    column-gap: 48px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu-footer__item {
}
.menu-footer__link {
    line-height: 24px;
    padding-left: 34px;
}
.menu-footer__link:hover {
    text-decoration: underline;

}
.menu-footer_link_home {
    background: url('../img/home.svg') left no-repeat;
}
.menu-footer_link_about {
    background: url('../img/user.svg') left no-repeat;
}
.menu-footer_link_contact {
    background: url('../img/phone.svg') left no-repeat;
}
.footer__social {
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social__link {
    background-color: #0bbb80;
    flex: 0 0 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease 0s;
}
.social__link:hover {
    background-color: #033e8b;
}
/* title */

.title {
    font-weight: 700;
    font-size: 64px;
    line-height: 1.5;

    color: #EEEEEE;
}
.title span {
    color: #00ADB5;
}

@media (max-width: 990px) {
    .title {
        font-size: 52px;
    }
}

@media (max-width: 767px) {
    .title {
        font-size: 45px;
    }
}

/* button */
.button {
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    padding: 10px 32px;
    color: #EEEEEE;
    background-color: #00ADB5;
    border-radius: 24px;
    transition: background-color 0.3s ease 0s;
}
.button_dark {
    background: rgba(57, 62, 70, 0.75);
}
.button_dark:hover,
.button_dark.active{
    background-color: #00ADB5;
}

.button:hover {
    background: rgba(57, 62, 70, 0.75);
}

/* main */

.main {
    padding-top: 93px;
    padding-bottom: 98px;
    border-top: 1px solid rgba(238, 238, 238, 0.1);
}

.main__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.main__content {
    flex: 1 1 auto;
    padding-right: 20px;
}

.main__title {
    font-weight: 700;
        font-size: 96px;
        text-transform: uppercase;
        color: #EEEEEE;
}
.main__title span {
color: #00ADB5;
}

.main__title:not(:last-child) {
    margin-bottom: 48px;
}

.main__buttons {
    display: flex;
    align-items: center;
    gap: 24px
}

.main__hire-button {}

.main__cv-button {}

.main__cv-button span {
    padding-right: 34px;
    display: inline-block;
    background: url(/img/download.svg) right no-repeat;
}

.main__image {
    flex: 0 0 42.8%;
    text-align: center;
}
.main__image img {
    max-width: 100%;
}

@media (max-width: 1280px) {
    .main {
        padding-top: 50px;
        padding-bottom: 45px;
    }
    .main__container {
        flex-direction: column;
        align-items: stretch;
    }
    .main__content {
        padding-right: 0px;
    }
    .main__title {
        text-align: center;
    }
    .main__image {
        flex: 0 0 auto;
    }
    .main__buttons {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .main__title {
       font-size: 65px;
    }
    .main__title:not(:last-child) {
        margin-bottom: 25px;
    }
    .main {
        padding-top: 35px;
        padding-bottom: 35px;
    }
}

@media (max-width: 479px) {
    .main__title {
        font-size: 45px;
    }
    .main__buttons {
        gap: 10px;
        flex-direction: column;
        align-items: stretch;
    }
}

/* about section */



.about {
    padding-top: 116px;
    padding-bottom: 116px;
}

.about__container {
    display: flex;
}

.about__content {
    flex: 1 1 auto;
    padding-right: 20px;
}

.about__title {}

.about__title:not(:last-child) {
    margin-bottom: 20px;
}

.about__text {
    max-width: 390px;
    line-height: 1.5;
}

.about__image {
    text-align: center;
    flex: 0 0 53.2%;
}

.about__image img {
    max-width: 100%;
}

@media (max-width: 1280px) {
    .about {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width: 990px) {
    .about {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .about__container {
        flex-direction: column;
    }
    .about__content {
        text-align: center;
        padding-right: 0px;
        margin-bottom: 20px;
    }
    .about__text {
        max-width: none;
    }
}
/* page works */



.works {
    padding-top: 145px;
    padding-bottom: 145px;
    background: url(/img/background.svg) 0 0 repeat;
}

.works__container {}

.works__title {}

.works__title:not(:last-child) {
    margin-bottom: 20px;
}

.works__items {}

.items-works {}

.items-work__navigation {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 48px;
}

.items-works__type {}

.items-works__body {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(280px,1fr));
    gap: 45px;
}

.items-works__item {
    background: rgba(57, 62, 70, 0.5);
    backdrop-filter: blur(2px);    
    border-radius: 16px;
    padding: 45px;
}

.items-works__image {
    position: relative;
    padding-bottom: 59.622642% ;
}

.items-works__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@media (max-width: 1280px) {
    .works{    
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media (max-width: 990px) {
    .works {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

@media (max-width: 767px) {
    .works__title {
       text-align: center;
    }
    .items-work__navigation{
        justify-content: center;
        margin-bottom: 20px;
    }
    .items-works__body{
        gap: 15px;
    }
}

/* contact from */



.contacts {
    padding-top: 155px;
    padding-bottom: 155px;
}

.contacts__container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 48px;
    align-items: start;
}

.contacts__content {}

.contacts__title {}


.contacts__image {
    text-align: center;
}

.contacts__image img {
    max-width: 100%;
}

.contacts__form {}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.form__item {}

.form__item:ntn-child(3),
.form__item:ntn-child(4) {
    grid-column: span 2;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 700;
}

.form__input {
    background: rgba(57, 62, 70, 0.5);
    border-radius: 16px;
    width: 100%;
    padding: 0 24px;
    color: #fff;
    color: rgba(238, 238, 238, 0.5);
    height: 59px;
}
textarea.form__input {
    height: 280px;
        padding: 24px;
    resize: vertical;
}
.form__input::placeholder {
        color: rgba(238, 238, 238, 0.5);
        transition: opacity 0.3s ease 0s;
}
.form__input:focus::placeholder {
    opacity: 0;
    
}
.form__button {}

.form__button span {
    display: inline-block;
    padding-right: 34px;
    background: url(/img/send.svg) right no-repeat;
}
